<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat on Amplify
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSignOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div></div>
    <div>
      <p>Hello. How are you today?</p>
      <span class="time-right">11:00</span>
    </div>
  </div>
</ion-content>
